.panel
  .panel-hd <span class="ico-users"></span> 会员积分榜
  .panel-bd.list-bd.clearfix
    ol.list.score-list
      each user in scoreRank
        li
          a(href="/user/" + user.username)= user.username
          span.float-r= user.score
          
          